<nav>
    <div class="nav-wrapper indigo draken-4">
        <div class="container">
            <a href="/" class="brand-logo">TsBlog</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                <!-- Dropdown Trigger -->
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                        Dashboard
                        <i class="material-icons left">
                            settings_system_daydream
                        </i>
                    </a>
                    <!-- Dropdown Structure -->
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">three</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>